.home {
    height: 100vh;
    align-content: center;
}
.welcome {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.discription {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}
.loginDiv {
  border: 2px solid gray;
  width: 400px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.createUserButton,
.loginButton {
  margin: 20px 10px;
  text-align: center;
}
