.register {
    height: 100vh;
    align-content: center;
}
.header {
    font-size: 1.75rem;
    text-align: center;
}
.registerForm {
    border: 2px solid gray;
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}
.name, .emailAddress, .password, .confirmPassword {
    margin: 15px auto 5px 40px;
    font-size: 1.25rem
}
.nameText, .emailAddressText, .passwordText, .confirmPasswordText {
    border: 2px solid gray;
    margin: 0 10px 10px 10px;
}
.createAccountButtonDiv {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.createAccountButton {
    border: 2px solid gray;
    margin: 10px auto;
    text-align: center;
    padding: 0 20px;
}
